<div th:fragment="footer">
  <footer class="footer_area section_padding_130_0">
    <div class="container">
      <div class="row">
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Footer Logo-->
            <div class="footer-logo mb-3"></div>
            <p class="footer-title-description">
              Aplikacija za praćenje lokalnih događaja
            </p>
            <!-- Copywrite Text-->
            <div class="copywrite-text mb-5">
              <p class="mb-0 footer-title-description">
                Copyright 2022 |<i class="lni-heart mr-1"></i>by<a
                  class="ml-1"
                  href="https://wrapbootstrap.com/user/DesigningWorld"
                  >Ajdin Bukvić</a
                >
              </p>
            </div>
            <!-- Footer Social Area-->
            <div class="footer_social_area">
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Facebook"
                ><i class="fa fa-facebook"></i></a
              ><a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Pinterest"
                ><i class="fa fa-pinterest"></i></a
              ><a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Skype"
                ><i class="fa fa-skype"></i></a
              ><a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Twitter"
                ><i class="fa fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">O nama</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">Informacije</a></li>
                <li><a href="#">Usluge</a></li>
                <li><a href="#">Ponude</a></li>
                <li><a href="#">Zajednica</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">Pomoć</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">Zaštita</a></li>
                <li><a href="#">Sigurnost</a></li>
                <li><a href="#">Privatnost</a></li>
                <li><a href="#">Pravila</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h5 class="widget-title">Kontakt</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">Telefon</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">Fax</a></li>
                <li><a href="#">Adresa</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
