<div th:fragment="navbar">
  <div class="header-blue">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Događaji | Početna</a
        ><button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
            <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasAuthority('ADMIN')">
            <li class="dropdown">
              <a
                class="dropdown-toggle nav-link dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
                href="#"
                >Upravljanje
              </a>
              <div class="dropdown-menu" role="menu">
                <a
                  class="dropdown-item"
                  role="presentation"
                  th:href="@{/location-manage}"
                  >Lokacije</a
                ><a
                  class="dropdown-item"
                  role="presentation"
                  th:href="@{/category-manage}"
                  >Kategorije</a
                ><a
                  class="dropdown-item"
                  role="presentation"
                  th:href="@{/user-manage}"
                  >Korisnici</a
                >
                <a
                  class="dropdown-item"
                  role="presentation"
                  th:href="@{/event-manage}"
                  >Događaji</a
                >
              </div>
            </li>
          </div>
          </ul>
        </div>
        <div sec:authorize="isAnonymous()">
          <span class="navbar-text">
            <a th:href="@{/login}" class="login">Prijava</a></span
          >
          <a
            class="btn btn-light action-button ml-2"
            role="button"
            th:href="@{/register}"
            >Registracija</a
          >
        </div>
        <div sec:authorize="isAuthenticated()">
          <span class="navbar-text">
            <a th:href="@{|/profile/${id}|}" class="login">Profil</a></span
          >
          <a
            class="btn btn-light action-button ml-2"
            role="button"
            th:href="@{/logout}"
            >Odjava</a
          >
        </div>
      </div>
    </nav>
  </div>
</div>
