<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Događaji | Početna</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/card.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <div lang="en" th:include="fragments/navbar :: navbar"></div>

    <div
      class="container my-4 d-flex justify-content-center align-items-center"
    >
      <form class="form-inline mr-5" target="_self" th:action="@{/home}">
        <div class="form-group">
          <label for="search-field"><i class="fa fa-search"></i></label
          ><input
            class="form-control search-field ml-2"
            type="search"
            name="naziv"
            id="naziv"
            th:value="${param.naziv}"
            required
            placeholder="Pretraga po nazivu..."
          />
        </div>
        <button type="submit" class="btn btn-primary">Traži</button>
      </form>
      <div class="mr-5">
        <span class="mr-3">Pretraga po lokaciji:</span>
        <form th:action="@{/home}" style="display: inline">
          <select
            class="form-select"
            aria-label="Default select example"
            name="lokacija"
            onchange="this.form.submit()"
          >
            <option
              value=""
              th:selected="${param.lokacija == null} ? 'true' : 'false'"
            >
              sve
            </option>
            <option
              th:each="location : ${locations}"
              th:value="${location.id}"
              th:text="${location.name}"
              th:selected="${#strings.equals(param.lokacija, #strings.toString(location.id))}"
            ></option>
          </select>
        </form>
      </div>
      <div class="">
        <span class="mr-3">Pretraga po kategoriji:</span>
        <form th:action="@{/home}" style="display: inline">
          <select
            class="form-select"
            aria-label="Default select example"
            name="kategorija"
            onchange="this.form.submit()"
          >
            <option
              value=""
              th:selected="${param.lokacija == null} ? 'true' : 'false'"
            >
              sve
            </option>
            <option
              th:each="category : ${categories}"
              th:value="${category.id}"
              th:text="${category.name}"
              th:selected="${#strings.equals(param.kategorija, #strings.toString(category.id))}"
            ></option>
          </select>
        </form>
      </div>
    </div>
    <div th:if="${events.size == 0}">
      <article
        class="postcard light blue text-primary justify-content-center align-items-center"
        style="height: 250px; font-size: 40px; margin-bottom: 150px"
      >
        Trenutno nema događaja za prikazati!
      </article>
    </div>
    <!-- CARDS -->
    <section class="light">
      <div class="container py-2">
        <article class="postcard light blue" th:each="event: ${events}">
          <a class="postcard__img_link" href="#">
            <img
              class="postcard__img"
              th:src="${event.image}"
              alt="${event.name}"
            />
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title blue">
              <a href="#" th:text="${event.name}"></a>
            </h1>
            <div class="postcard__subtitle small">
              <time th:text="${event.date}">
                <i class="fas fa-calendar-alt mr-2"></i>
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div
              class="postcard__preview-txt"
              th:text="${event.description}"
            ></div>
            <ul class="postcard__tagbox">
              <li class="tag__item play blue">
                <a th:href="@{|/event/${event.id}|}">Više informacija...</a>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </section>
    <div lang="en" th:include="fragments/footer :: footer"></div>
    <!-- CARDS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
