<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Kodinger" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Događaji | Prijava</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
  </head>

  <body class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <h1 class="text-center p-4 text-light">
          Aplikacija za praćenje lokalnih događaja
        </h1>
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="white"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                />
              </svg>
            </div>
            <div th:if="${param.error}">
              <div class="alert alert-danger text-center">
                Uneseni email ili lozinka nisu ispravni.
              </div>
            </div>
            <div th:if="${param.logout}">
              <div class="alert alert-success text-center">
                Uspješno ste se odjavili sa svog profila.
              </div>
            </div>
            <div th:if="${success} != null">
              <div
                class="alert alert-success text-center"
                th:text="${success}"
              ></div>
            </div>
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Prijava</h4>
                <form
                  method="POST"
                  class="my-login-validation"
                  th:action="@{/login}"
                  role="form"
                >
                  <div class="form-group">
                    <label for="username">Email</label>
                    <input
                      id="username"
                      type="email"
                      class="form-control"
                      name="username"
                      value=""
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">Email je neispravan</div>
                  </div>

                  <div class="form-group">
                    <label for="password"
                      >Lozinka
                      <a href="#" class="float-right">
                        Zaboravljena lozinka?
                      </a>
                    </label>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      name="password"
                      required
                      data-eye
                    />
                    <div class="invalid-feedback">Lozinka je potrebna.</div>
                  </div>

                  <div class="form-group">
                    <div class="custom-checkbox custom-control">
                      <input
                        type="checkbox"
                        name="remember"
                        id="remember"
                        class="custom-control-input"
                      />
                      <label for="remember" class="custom-control-label"
                        >Zapamti me</label
                      >
                    </div>
                  </div>

                  <div class="form-group m-0">
                    <button type="submit" class="btn btn-primary btn-block">
                      Prijava
                    </button>
                  </div>
                  <div class="mt-4 text-center">
                    Nemate profil?
                    <a th:href="@{/register}">Registrujte se</a>
                  </div>
                </form>
                <div class="mt-4 text-center">
                  <a th:href="@{/home}">Nastavite kao gost?</a>
                </div>
              </div>
            </div>
            <div class="footer">Copyright &copy; 2022 &mdash; A.B.</div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="js/my-login.js"></script> -->
  </body>
</html>
