<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Kodinger" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Događaji | Registracija</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" />
  </head>
  <body class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="white"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
                />
              </svg>
            </div>
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Registracija</h4>
                <form method="POST" class="my-login-validation" novalidate="">
                  <div class="form-group">
                    <label for="name">Ime</label>
                    <input
                      id="name"
                      type="text"
                      class="form-control"
                      name="name"
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">Vase ime?</div>

                    <label for="surname">Prezime</label>
                    <input
                      id="surname"
                      type="text"
                      class="form-control"
                      name="surname"
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">Vase prezime?</div>
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      name="email"
                      required
                    />
                    <div class="invalid-feedback">Vas email je pogresan</div>
                  </div>

                  <div class="form-group">
                    <label for="password">Lozinka</label>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      name="password"
                      required
                      data-eye
                    />
                    <div class="invalid-feedback">Lozinka je potrebna</div>
                  </div>

                  <div class="form-group">
                    <label for="password">Potvrdite lozinku</label>
                    <input
                      id="password2"
                      type="password"
                      class="form-control"
                      name="password2"
                      required
                      data-eye
                    />
                    <div class="invalid-feedback">Lozinka je potrebna</div>
                  </div>

                  <div class="form-group">
                    <div class="custom-checkbox custom-control">
                      <input
                        type="checkbox"
                        name="agree"
                        id="agree"
                        class="custom-control-input"
                        required=""
                      />
                      <label for="agree" class="custom-control-label"
                        >Prihvatam <a href="#">uslove korištenja</a></label
                      >
                      <div class="invalid-feedback">
                        Morate prihvatiti uslove korištenja
                      </div>
                    </div>
                  </div>

                  <div class="form-group m-0">
                    <button type="submit" class="btn btn-primary btn-block">
                      Registracija
                    </button>
                  </div>
                  <div class="mt-4 text-center">
                    Već imate profil? <a href="index.html">Prijava</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="footer">Copyright &copy; 2022 &mdash; A.B.</div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="js/my-login.js"></script>
  </body>
</html>
